* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin-top: -8px;
  margin-bottom: 5px;
  font-family: "Google Sans", "Noto Sans Myanmar UI", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.qwe {
  font-weight: 300;
  font-size: 16px;
}
.wwd {
  width: 450px;
  height: 505px;
  margin-top: 78px;
  margin-left: 458px;
  margin-right: 460px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  position: relative;
}
.text_rules {
  line-height: 1.8;
  text-align: center;
}
.imgh {
  text-align: center;
  margin-top: 40px;
  padding-right: 2px;
}
.forchbox {
  position: relative;
  margin-top: 30px;
}

.email {
  width: 368px;
  height: 54px;
  border-radius: 4px;
  border-color: #dadce0;
  border-style: solid;
  margin: 1px 1px 0px 1px;
  padding: 13px 15px;
  bottom: 17px;
  outline: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: none;
  z-index: 1;
  left: 43px;
}

.label {
  position: absolute;
  top: 15px;
  padding: 0 4px;
  background-color: white;
  color: #5f6368;
  transition: 0.2s;
  z-index: 0;
  left: 50px;
}

.email:focus + .label {
  top: -7px;
  z-index: 10;
  font-size: 12px;
  color: #1a73e8;
  left: 50px;
}
.email:focus {
  border: 2px solid #1a73e8;
}
.email:not(:placeholder-shown) + .label {
  top: -7px;
  left: 50px;
  z-index: 10;
  font-size: 12px;
}
::placeholder {
  color: transparent;
}
.forchboxs_1 {
  margin-top: 95px;
}
input {
  height: 55px;
  width: 360px;
  box-sizing: border-box;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px;
  padding-left: 10px;
  font-size: medium;
  left: 43px;
}
input:focus {
  outline: none;
  border: 2px solid rgb(26, 115, 232);
}
.a_replace_01 {
  position: absolute;
  bottom: -60px;
  left: 43px;
  font-weight: 500;
  font-size: 14px;
  padding-right: 275px;
  text-decoration: none;
  color: rgb(26, 115, 232);
  line-height: 2.5;
}
.a_replace_02 {
  font-weight: 500;
  font-size: 14px;
  padding-right: 286px;
  text-decoration: none;
  color: rgb(26, 115, 232);
}
.a_replace_03:hover {
  color: #174ea6;
  background-color: #f0f8ff;
  border: 1px none;
  width: max-content;
  height: max-content;
  padding: 10px;
  margin-left: -10px;
  border-radius: 4px;
}
.text-p_02 {
  font-weight: 400;
  font-size: 14px;
  padding-right: 10px;
  color: rgb(90, 90, 90);
}
.a_replace_04 {
  font-weight: 500;
  font-size: 14px;
  color: gray;
  text-decoration: none;
}
.for_a_create {
  display: flex;
  justify-content: space-around;
  margin-top: 26px;
  padding-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

.for_left-side {
  width: max-content;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
  transition: 0.1s;
  margin-right: 120px;
}
.for_right-side {
  margin-top: 10px;
}
#for_inside-code,
a {
  font-style: "Google Sans", Roboto, Arial, sans-serif;
  text-decoration: none;
  color: #1a73e8;
  font-size: 0.875rem;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  padding-top: 10px;
}

#for_inside-code:hover {
  color: #174ea6;
  background-color: #f0f8ff;
  border: 1px none;
  width: max-content;
  height: max-content;
  border-radius: 4px;
}

.next_button {
  color: white;
  background-color: #1a73e8;
  font-size: 14px;
  border-radius: 4px;
  width: 80px;
  height: 36px;
  cursor: pointer;
  border: 0;
  transition: 0.1s;
}

.next_button:hover {
  background-color: #1b66ca;
  box-shadow: 0 1px 2px 0
      var(--gm-fillbutton-keyshadow-color, rgba(60, 64, 67, 0.3)),
    0 1px 3px 1px
      var(--gm-fillbutton-ambientshadow-color, rgba(60, 64, 67, 0.15));
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 12px;
  color: #202124;
}
select {
  border: none;
  font-size: 12px;
  padding-top: 8px;
  padding-left: 0px;
  margin-right: 110px;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  padding: 6px 16px;
}
li:active {
  border: 1px none;
  width: max-content;
  height: min-content;
  background-color: #7575757e;
  border-radius: 2px;
}
li a {
  color: #757575;
  font-size: 12px;
}
